/* ESTILOS GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-white-main: #fff;
    --color-white-sec: #ccc;

    --color-black-main: #000;

    ---primary-color: #0a1128;
    --light-gray-color: #eee;

    --padding-section: 3rem;
}

* {margin: 0; padding: 0; box-sizing: border-box;}

html {font-size: 62.5%; scroll-behavior: smooth;}

body {font-family: "Poppins", sans-serif; font-size: 2rem;}

h1, h2, h3, h4, h5, h6 {font-family: "Montserrat", sans-serif;}

h1 {font-size: 6rem; text-transform: uppercase; }
h2 {font-size: 5.5rem; font-size: 5rem; margin-bottom: 3rem;text-transform: uppercase;}
h3 {font-size: 5rem;}
h4 {font-size: 4.5rem;}
h5 {font-size: 4rem;}
h6 {font-size: 3.5rem;}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

a {text-decoration: none;}

table {
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    border: 0.1rem solid var(--light-gray-color);
    text-align: left;
    padding: 1rem;
}

tfoot td, tr th {
    background-color: var(--light-gray-color);
    /* white-space: nowrap; */
}

.menu-spacing {height: 6.5rem;}

.bg-svg {background-image: url(../img/background_page.svg);background-size: cover; background-position: center center; color: var(--color-white-main);
}

.bg-white {background-color: var(--color-white-main); color: var(--color-black-main);
}

.viewport{
    min-height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--padding-section);
}

.section-heading {
    margin-top: 8rem;
}

.section-description  {
    padding-bottom: 6rem;
}

.responsive-table {
    overflow-x: auto;
}


/* ESTILOS UNICOS */

.main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
    justify-content: space-between;
}

.main-menu-content{
    justify-content: space-between;
    display: flex;
    align-items: center;
} 

.main-menu .content h1 {
    font-size: 2.3rem;
    color: var(---primary-color);
    transition: all 200ms ease;
}

.main-menu .content h1:hover{
    transform: scale(1.05);
}

.main-menu .content h1 a {
    color: inherit;
}

.main-menu ul{
    list-style: none;
    display: flex;
}

.main-menu ul li a {
    display: block;
    color: var(--color-black-main);
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.main-menu ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2rem;
    background-color: var(---primary-color);
    bottom: 2rem;
    left: 50%;
    transition: all 250ms ease-in-out;
}

.main-menu ul li a:hover::after {
    width: 70%;
    left: 15%;
}

.intro-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--padding-section);
    align-items: center;
    justify-content: center;
}

.intro-content .intro-text p{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3 {
    max-width: 70rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.top3 p{
    margin-bottom: 3rem;
    font-weight: 400;
}

.top3-gallery-content{
    display: flex;
    flex-direction: column;
}

.top3-jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--padding-section);
    counter-reset: number-grid;
}

.top3-jobs h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 4.5rem;
    padding-bottom: 1rem;
}

.top3-jobs h3::before{
    counter-increment: number-grid;
    content: counter(number-grid);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2rem;
    left: 0;
    transform: rotate(5deg);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-section);
    justify-content: center;
    margin-bottom: 8rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    box-shadow: 0 0 1rem var(---primary-color);
    border-radius: 5px;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--padding-section);
    position: relative;
    align-items: center;
    justify-content: center;
}

.contact .contact-img img{
    max-width: 100%;
    height: auto;
    margin-top: 8rem;
}

.contact-form {
    grid-column: span 2;
}

.form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding-section);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background-color: var(--color-white-main);
    padding: 1.4rem 2rem;
    width: 100%;
    font-size: 3rem;
}

div.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--color-white-main);
    background: none;
    color: var(--color-white-main);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.form-group button:hover{
    background: var(--color-white-main);
    color: var(---primary-color);
}

.form-group ::placeholder{
    color: var(--color-white-sec);
    font-size: 2rem;
}

.footer {
    align-content: center;
    text-align: center;
    height: 8rem;
}

.footer p {
    font-size: 1.2rem;
}

.footer a {
    color: inherit;
}

.close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--color-white-sec);
    color: var(---primary-color);
    border-radius: 50%;
    border: solid 0.1rem var(--color-black-main);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.back-to-top:hover{
    transform: scale(1.1);
}

@media (max-width: 800px){
    .menu-spacing{
        display: none;
    }
    .intro-content,
    .top3-jobs,
    .contact{
        grid-template-columns: 1fr;
        top: 6.5rem;
    }
    .main-menu-content{
        height: 100vh;
    }
    .main-menu-content, .main-menu-content ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .main-menu{
        display: none;
    }
    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(---primary-color);
        border-radius: 0.5rem;
        color: var(--color-white-main);
        font-size: 2rem;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        text-align: center;
        align-content: center;
    }

    .close-menu:checked~.main-menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
        font-size: 3.2rem;
        line-height: 1.5rem;
    }
}




